In [19]:
A="Roshan"

In [11]:
type(A)

str

In [5]:
l=[1,5,6,4,9,8,7,2,'Rahul']

In [7]:
type(l)

list

In [8]:
k=10.2

In [10]:
type(k)

float

In [13]:
T=(1,'Data Science','ML')

In [15]:
type(T)

tuple

In [16]:
#Q.2 GIVEN ARE SOME VARIABLES CONTAINING DATA:

In [17]:
var1=''

In [19]:
type(var1)

str

In [2]:
var2='[DS,ML,Python]'

In [4]:
type(var2)

str

In [5]:
var3=['DS','ML','Python']

In [7]:
type(var3)

list

In [8]:
var4=1.

In [10]:
type(var4)

float

In [11]:
#Q.3 EXPLAIN THE USE OF THE FOLLOWING OPERATOR USING AN EXAMPLE

In [15]:
#(i) / : Division Operator allows us to divide two numbers and return a quotient.

In [16]:
#(ii) % : Modulus Operator is use to find out the remainder.

In [20]:
#(iii) // : Division floor divides the first operand by the second.

In [22]:
#(iv) ** :Exponent(Power) OPerator Returns first raised to power second.

In [23]:
#Q.4 CREATE A LIST OF LENGHTH 10 OF YOUR CHOICE CONTAINING MULTIPLE TYPES OF DATA USING FOR LOOP PRINT THE ELEMENTS AND ITS DATA TYPE?

In [10]:
l=[1,2,3,4,5,'Roshan',23.5,True,"Lion"]

In [12]:
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [13]:
# Q.5] Usingh a while loop verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [3]:
A=int(input("Enter the value of A:"))
B=int(input("Enter the value of B:"))
while A%B == 0 :
    C = int(A/B)
    print(f"{A} is divisible by {B} and can be divided {C} times")
    break
else:
    print("{A} is not Divisible by {B}")

Enter the value of A: 90
Enter the value of B: 6

90 is divisible by 6 and can be divided 15 times

In [5]:
#Q.6  Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [7]:
int_list = [10, 12, 18, 25, 33, 42, 56, 61, 72, 81, 94, 120, 117, 122, 166, 14, 158, 165, 178, 183, 197, 330, 300, 224, 200]
for element in int_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3:")
    else:
        print(f"{element} is not divisible by 3:")

10 is not divisible by 3:
12 is divisible by 3:
18 is divisible by 3:
25 is not divisible by 3:
33 is divisible by 3:
42 is divisible by 3:
56 is not divisible by 3:
61 is not divisible by 3:
72 is divisible by 3:
81 is divisible by 3:
94 is not divisible by 3:
120 is divisible by 3:
117 is divisible by 3:
122 is not divisible by 3:
166 is not divisible by 3:
14 is not divisible by 3:
158 is not divisible by 3:
165 is divisible by 3:
178 is not divisible by 3:
183 is divisible by 3:
197 is not divisible by 3:
330 is divisible by 3:
300 is divisible by 3:
224 is not divisible by 3:
200 is not divisible by 3:

In [8]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [2]:
#Mutable: we can change the data in mutable object.it is known as list MUTATE is not allowed
        #example:

In [10]:
[2,3,4,5,6,7,8,'rosh',(3+7j),True,20.3]

[2, 3, 4, 5, 6, 7, 8, 'rosh', (3+7j), True, 20.3]

In [14]:
l[1]=300

In [17]:
l

[2, 300, 4, 5, 6, 7, 8, 'rosh', (3+7j), True, 20.3]

In [18]:
#IMUTABLE : String object does not support item Assignment. in this mutate is not aalowed.
     #Example:

In [23]:
p="Data"

In [22]:
p[1]="S"

NameError: name 'p' is not defined